name: Demo CI

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Chọn môi trường'
        type: choice
        options: [dev, uat]
        default: 'dev'

env:
  MY_VAR: 'workflow'

jobs:
  test:
    name: Job 1 - Chạy test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: ${{ inputs.environment || 'dev' }}

    steps:
      - name: Step 1 - Check out code
        uses: actions/checkout@v4

      - name: Step 2 - Cài node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Step 3 - Cài dependencies từ package.json
        run: npm install

      - name: Step 4 - Chạy test để đọc env
        run: npx tsx tests/lessons/print-env.ts
        env:
          MY_PASSWORD: ${{secrets.MY_PASSWORD}}
          MY_WEBSITE: ${{vars.MY_WEBSITE}}
