name: Demo Secrets vs Vars
on: workflow_dispatch # Chạy bằng nút bấm tay cho nhanh

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: So sánh hiển thị
        run: |
          echo "1. Đọc Variables (Công khai):"
          echo "Website là: ${{ vars.MY_WEBSITE }}"
          
          echo "--------------------------------"
          
          echo "2. Đọc Secrets (Bí mật):"
          echo "Mật khẩu là: ${{ secrets.MY_PASSWORD }}"