name: Demo CI

on:
  push:
    branches: [main]

jobs:
  hello:
    name: Chào mừng
    runs-on: ubuntu-latest

    steps:
      - name: In ra thông báo
        run: |
          echo "Xin chào đây là dòng đầu tiên"
          echo "Xin chào bạn nhé!"
