name: Demo CI

on:
  workflow_dispatch:

env:
  MY_VAR: 'workflow'

jobs:
  env:
    MY_VAR: 'jobs'
  test:
    name: Job 1 - Chạy test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Step 1 - Check out code
        run: echo "Đang checkout code từ repository...."

      - name: Step 2 - Cài node.js
        run: echo "Cài đặt nodejs"

      - name: Step 3 - Cài dependencies từ package.json
        run: echo "npm install"

      - name: Step 4 - Cài playwright browser
        run: echo "npx playwright install-deps"

      - name: Step 5 - Chạy test
        run: echo $MY_VAR
